<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>StringsTable</key>
    <string>Acknowledgements</string>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors2</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors3</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors4</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors5</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors6</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors7</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors8</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors9</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors10</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors11</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors12</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors13</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors14</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors15</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors16</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors17</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors18</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors19</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors20</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors21</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors22</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors23</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors24</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors25</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors26</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors27</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors28</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors29</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors30</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors31</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors32</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors33</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors34</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors35</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors36</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors37</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors38</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors39</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors40</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors41</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors42</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors43</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors44</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors45</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors46</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors47</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors48</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors49</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors50</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors51</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors52</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors53</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors54</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors55</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors56</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>Authors57</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA2</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA3</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA4</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA5</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA6</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA7</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA8</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA9</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA10</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA11</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA12</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA13</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA14</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA15</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA16</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA17</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA18</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA19</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA20</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA21</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA22</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>CreativeCommonsSA23</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>MITRamotion</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>MITRamotion2</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>MITRamotion3</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>MITRamotion4</string>
        </dict>
        <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>MITRamotion5</string>
        </dict>
    </array>
</dict>
</plist>
